*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    
    
    

}


main{
    width: 40%;
    height: 1020px;
    background: red;
    margin-top: 50px;
    margin-left: 30%;
    
}

.box{
    width:calc((100% / 3) - 10px);
    height: 500px;
    margin: 3px;
    background-color: blue;
    border: 2px solid black;
    display: inline-block;
    background-image:url(../img/1.webp);
    background-size: cover;
    position: relative;
    
    
}
.box2{
    width:calc((100% / 3) - 10px);
    height: 500px;
    margin: 3px;
    background-color: blue;
    border: 2px solid black;
    display: inline-block;
    background-image:url(../img/2.webp);
    background-size: cover;
    position: relative;
    
    
}
.box3{
    width:calc((100% / 3) - 10px);
    height: 500px;
    margin: 3px;
    background-color: blue;
    border: 2px solid black;
    display: inline-block;
    background-image:url(../img/3.webp);
    background-size: cover;
    position: relative;
    
    
}
.box4{
    width:calc((100% / 3) - 10px);
    height: 500px;
    margin: 3px;
    background-color: blue;
    border: 2px solid black;
    display: inline-block;
    background-image:url(../img/4.webp);
    background-size: cover;
    position: relative;
    
    
}
.box5{
    width:calc((100% / 3) - 10px);
    height: 500px;
    margin: 3px;
    background-color: blue;
    border: 2px solid black;
    display: inline-block;
    background-image:url(../img/5.webp);
    background-size: cover;
    position: relative;
    
    
}
.box6{
    width:calc((100% / 3) - 10px);
    height: 500px;
    margin: 3px;
    background-color: blue;
    border: 2px solid black;
    display: inline-block;
    background-image:url(../img/6.webp);
    background-size: cover;
    position: relative;
    
}

.sconto{
    background-color: red;
    width: 50px;
    height: 10px;
    position: absolute;
    left: 25px;
    bottom: 25px;
    font-size:5px;
    text-align: center;
    line-height: 50px;
    color: white;
    
    
    
}
 .sostenibilita{
    background-color: green;
    height: 10px;
    width: 0px;
    position: absolute;
    left: 80px;
    bottom: 25px;
    font-size:15px;
    text-align: center;
    line-height: 50px;
    color: white;
    

 }


.box-overlay{
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;

}

.box:hover .box-overlay{

    display: inline-block;
    background-image: url(../img/1b.webp);
    background-size: cover;
    
}
.box:hover.sconto{
    display: inline-block;
    
   
    
}

.box-overlay::after{
    content: "-50%";
    background-color: red;
    width: 50px;
    height: 30px;
    position: absolute;
    left: 25px;
    bottom: 25px;
    font-size:15px;
    text-align: center;
    line-height: 30px;
    color: white;
}
.sconto::after{
    content: "Sostenibilita";
    background-color: #00875a;
    width: 80px;
    height: 30px;
    position: absolute;
    left: 60px;
    bottom: 0px;
    font-size:15px;
    text-align: center;
    line-height: 30px;
    color: white;
    
}




.box-overlay2{
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;

}
.box2:hover .box-overlay2{

    display: inline-block;
    background-image: url(../img/2b.webp);
    background-size: cover;
    
}
.box-overlay2::after{
    content: "-30%";
    background-color: red;
    width: 50px;
    height: 30px;
    position: absolute;
    left: 0px;
    bottom: 25px;
    font-size:15px;
    text-align: center;
    line-height: 30px;
    color: white;
}

.box-overlay3{
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;

}
.box3:hover .box-overlay3{

    display: inline-block;
    background-image: url(../img/3b.webp);
    background-size: cover;
    
}
.box-overlay3::after{
    content: "-30%";
    background-color: red;
    width: 50px;
    height: 30px;
    position: absolute;
    left: 0px;
    bottom: 25px;
    font-size:15px;
    text-align: center;
    line-height: 30px;
    color: white;
}

.box-overlay4{
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;

}
.box4:hover .box-overlay4{

    display: inline-block;
    background-image: url(../img/4b.webp);
    background-size: cover;
    
}


.box-overlay4::after{
    content: "-50%";
    background-color: red;
    width: 50px;
    height: 30px;
    position: absolute;
    left: 25px;
    bottom: 25px;
    font-size:15px;
    text-align: center;
    line-height: 30px;
    color: white;
}
.sconto::after{
    content: "Sostenibilita";
    background-color: #00875a;
    width: 80px;
    height: 30px;
    position: absolute;
    left: 60px;
    bottom: 0px;
    font-size:15px;
    text-align: center;
    line-height: 30px;
    color: white;
}

.box-overlay5{
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;

}
.box5:hover .box-overlay5{

    display: inline-block;
    background-image: url(../img/5b.webp);
    background-size: cover;
    
}
.box-overlay6{
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;

}
.box6:hover .box-overlay6{

    display: inline-block;
    background-image: url(../img/6b.webp);
    background-size: cover;
    background-color: red;
    
}

.box-overlay6::after{
    content: "Sostenibilita";
    background-color: #00875a;
    width: 80px;
    height: 30px;
    position: absolute;
    left: 0px;
    bottom: 25px;
    font-size:15px;
    text-align: center;
    line-height: 30px;
    color: white;
}




